#myCarousel {
       
    background-repeat: no-repeat;
    background-color:#008080;
    z-index: 5;
    padding-left: 0;
    margin-right: 0px;
}
#myCarousel.vertical .item {
  transition: 0.1s ease-in-out top;
}
#myCarousel .carousel-inner .item img{
      width: 400px;
      margin-left: 0;
      position: relative;
}

/* NAVBAR */

/* Collapse/burger button bar color */
.navbar-toggle>span {
  background-color: white;
} 
/*Burger/Collapse button */
button.navbar-toggle {
  background-color: #008080;
} 
.navbar-collapse {
  text-align: center;
  width: 100%;
  margin: 0;
}

#main_menu {
  width: 100%;
  height: 3em;
  display: inline-block;
  z-index:200;
  text-align:center;
}
#main_menu .container-fluid{
  background-color: white;
  min-height:3em;
  width: 100%;
  display: inline-block;
}
.menu-item {
  padding: 0 0 5px 0;
  display: inline-block;
  min-height:3em;
  margin:0;
  overflow: hidden;
  width: 200px;
}
.menu-item>a {
  font-size: 25px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  width:100%;
  height: 100%;
  margin-top:0;
  font-family: 'Ruthie';
  font-size: 45px;
  color: #008080;
}
#active>a {
  font-weight: bold;
}
.menu>li:hover a{
  font-weight: bolder;
}
/* Line under navbar */
.navbar-collapse hr{
  border-color: rgba(0, 128, 128, 0.2);
}

/* END OF NAVBAR */

body {
	font-family: 'roboto';
}

/* PAGE HEADING */
.jumbotron {
	background-color: rgba(0, 128, 128, 1);
}
#header-title {
	font-family: 'Ruthie', cursive;
	text-align: center;
	font-weight: 900;
	font-size: 82px;
}
#header-subheading {
	font-family: 'Ruthie', cursive;
	text-align: center;
	font-weight: 300;
	font-size: 45px;
}

/* MAIN CONTENT */
.intro {
	color: #008080;
	font-family: 'Ruthie', cursive;
	font-size: 45px;
	font-weight: 580;
}
.intro_content {

}




/* FOOTER */

/* Footer General */
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.alignleft a , .alignright a{
  color: black;
  text-decoration: none;
}
.footer {
	background-color: rgba(0, 128, 128, 1);
	margin-top: 20px;
	padding-top: 10px;
	display: block;
	width: 100%;
}
.footer .alignleft a:hover , .footer .alignleft a:focus , .footer .alignright a:hover , .footer .alignright a:focus {
  color: white;
}
/* Active Page */
#active-ft {
  font-weight: bold;
  color: white;
}
/* Social Icons */
.social-icon{
  text-align: center;
  font-size: 16px;
  font-family: 'roboto';
}
.social-icon>a{
  text-decoration: none;
  color: white;
}
.fa{
	margin: 0 6px;
}
.social-icon .fa:hover{
  font-size: 330%;
  transition: 0.3s;
  color: black;
}

/* Search Bar */
.input-group{
  width: 40%;
  margin: 0 auto;
  padding-bottom: 10px;
}
.input-group-btn>button {
  color: rgba(0, 128, 128, 1);
}
.input-group-btn>button:hover {
  /* Add some parameters?? */
  background-color: black;
  color: white;
}
.input-group input{
  color: rgba(0, 128, 128, 1);
}
/* Placeholder Color */
.input-group>input::-webkit-input-placeholder {
color: rgba(0, 128, 128, 0.5) !important;
}
.input-group>input:-moz-placeholder { /* Firefox 18- */
color: rgba(0, 128, 128, 0.5) !important;  
}
.input-group>input::-moz-placeholder {  /* Firefox 19+ */
color: rgba(0, 128, 128, 0.5) !important;  
}
.input-group>input:-ms-input-placeholder {  
color: rgba(0, 128, 128, 0.5) !important;  
}
/* End of Search Bar -->

/* END OF FOOTER */