body {
	font-family: 'roboto';
}

/* PAGE HEADING */
.jumbotron {
	background-color: rgba(0, 128, 128, 1);
}
#header-title {
	font-family: 'Ruthie', cursive;
	text-align: center;
	font-weight: 900;
	font-size: 82px;
}
#header-subheading {
	font-family: 'Ruthie', cursive;
	text-align: center;
	font-weight: 300;
	font-size: 45px;
}

/* MAIN CONTENT */
.intro {
	color: #008080;
	font-family: 'Ruthie', cursive;
	font-size: 45px;
	font-weight: 580;
}
.intro_content {

}




/* FOOTER */

/* Footer General */
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.alignleft a , .alignright a{
  color: black;
  text-decoration: none;
}
.footer {
	background-color: rgba(0, 128, 128, 1);
	margin-top: 20px;
	padding-top: 10px;
	display: block;
	width: 100%;
}
.footer .alignleft a:hover , .footer .alignleft a:focus , .footer .alignright a:hover , .footer .alignright a:focus {
  color: white;
}
/* Active Page */
#active-ft {
  font-weight: bold;
  color: white;
}
/* Social Icons */
.social-icon{
  text-align: center;
  font-size: 16px;
  font-family: 'roboto';
}
.social-icon>a{
  text-decoration: none;
  color: white;
}
.social-icon .fa{
	margin: 0 6px;
}
.social-icon .fa:hover{
  font-size: 330%;
  transition: 0.3s;
  color: black;
}


/* END OF FOOTER */