/* MAIN BODY */

body {
	font-family: 'roboto';
}

/* PAGE HEADING */
.jumbotron {
	background-color: #81D8D0;
  margin-bottom: 0px;
  
}
#header-title {
	font-family: 'Amatic SC', cursive;
	text-align: center;
	font-weight: 900;
	font-size: 82px;
	color: black;

}
#header-subheading {
	font-family: 'Amatic SC', cursive;
	text-align: center;
	font-weight: 300;
	font-size: 45px;
  color: white;
}


/* MAIN CONTENT */
.intro {
	color:  #81D8D0;
	font-family: 'Amatic SC', cursive;
	font-size: 45px;
	font-weight: bold;
}
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
.intro_content {
  text-decoration: none;
  color:  #008080;
  font-family: 'roboto', 'nanum pen script', 'arial', cursive;
}
.links{
  color:#81D8D0; 
  text-decoration: none;
}
.links:hover{
  color: #81D8D0;
  font-weight: bold;
  text-decoration: none;
}

/* NAVBAR */
.nav {
  background-color: white;
  z-index: 300;
}
nav {
  padding: 0px;
  text-align: center;
  margin-bottom: 5%;
  /*margin-top: -50px;*/
  font-family: 'roboto' , 'Amatic SC' , cursive ;
 /* font-size: 180%;*/
}
nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  background: white;
  width: 100%;
}
nav > ul > li {
  float: left;
  width: 20%;
  height: 40px;
  line-height: 65px;
  position: relative;
  z-index: 300;
  text-transform: uppercase;
  cursor: pointer;
}
nav>ul>li>a {
  height: 40px;
  margin-top: -20px;
  padding: 0;
}

nav > ul > li:hover {
  background: white;
}
.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: transparent;
  color: white;
  border-radius:0px;
}

#active>a , #active-res{
  font-weight: bold;
}

a:hover > #active-res{
  color: white;
}

/* Shutter Out Horizontal General */
.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: white;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal:hover a, .hvr-shutter-out-horizontal:focus a, .hvr-shutter-out-horizontal:active a {
  color: white;
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/* DROP DOWN MENU */
ul.drop-menu {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  padding: 0;
}

ul.drop-menu a:last-child li {
  border-radius: 0px 0px 5px 5px;
}

ul.drop-menu li {
  display: none;
}

li:hover > ul.drop-menu li {
  display: block;
}

/* Color Properties */
nav > ul.nav > li>a {
  color: #81D8D0;
  /* OR CHNAGE TO color: #008080; */
}
nav > ul.nav > li:hover >a {
  color: rgba(0, 128, 128, 1);
}
ul.nav ul.drop-menu li {
  background: rgba(129,216,208 , 0.8);
  color: rgba(0, 128, 128, 1);
}
ul.nav ul.drop-menu li:hover {
  background: rgba(129,216,208 , 0.8);
  text-decoration: none;
  color: white;
}
ul.nav .hvr-shutter-out-horizontal:before {
  background: rgba(129,216,208 , 1); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(129,216,208 , 1) , rgba(129,216,208 , 0.8)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(129,216,208 , 1) , rgba(129,216,208 , 0.8)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(129,216,208 , 1) , rgba(129,216,208 , 0.8)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(129,216,208 , 1) , rgba(129,216,208 , 0.8));
}
ul.nav .drop.hvr-shutter-out-horizontal:before {
  background: rgba(0, 128, 128, 0.8);
}

/* Dropdown Animation for fade in */
li:hover > ul.drop-menu {
  -webkit-perspective:1000px;
  perspective:1000px;
}
li:hover > ul.drop-menu a li{
  opacity: 0;
/*  -webkit-animation-name: drop-menu;
  animation-name: drop-menu;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;*/
}

/* keyframes used to change opacity, rotation & translation during the animation */
@-webkit-keyframes drop-menu {
  /* start of animation properties*/
  0% {
    opacity: 0;
    transform: rotateY(-90deg) translateY(30px);
  }
  /* end of animation properties */
  100% {
    opacity: 1;
    transform: rotateY(0deg) translateY(0px);
  }
}
@keyframes drop-menu {
  /* start of animation properties */
  0% {
    opacity: 0;
    transform: rotateY(-90deg) translateY(30px);
  }
  /* end of animation properties */
  100% {
    opacity: 1;
    transform: rotateY(0deg) translateY(0px);
  }
}
/* Increases the animation duration as the dropdown list goes down*/
/* DOne using nth-child(i)*/
li:hover > ul.drop-menu a:nth-child(1) li{
  -webkit-animation-name: drop-menu;
  animation-name: drop-menu;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
li:hover > ul.drop-menu a:nth-child(2) li{
  -webkit-animation-name: drop-menu;
  animation-name: drop-menu;
  -webkit-animation-duration: 600ms;
  animation-duration: 600ms;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
li:hover > ul.drop-menu a:nth-child(3) li{
  -webkit-animation-name: drop-menu;
  animation-name: drop-menu;
  -webkit-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
li:hover > ul.drop-menu a:nth-child(4) li{
  -webkit-animation-name: drop-menu;
  animation-name: drop-menu;
  -webkit-animation-duration: 1200ms;
  animation-duration: 1200ms;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
li:hover > ul.drop-menu a:nth-child(5) li{
  -webkit-animation-name: drop-menu;
  animation-name: drop-menu;
  -webkit-animation-duration: 1500ms;
  animation-duration: 1500ms;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
li:hover > ul.drop-menu a:nth-child(6) li{
  -webkit-animation-name: drop-menu;
  animation-name: drop-menu;
  -webkit-animation-duration: 1800ms;
  animation-duration: 1800ms;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
li:hover > ul.drop-menu a:nth-child(7) li{
  -webkit-animation-name: drop-menu;
  animation-name: drop-menu;
  -webkit-animation-duration: 2100ms;
  animation-duration: 2100ms;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
/* End of animation */



/* END OF NAVBAR */



/* FOOTER */

/* Footer General */
.alignleft {
  float: left;
  color: #008080;
  position: relative;
  left: -110px;
}
.alignright {
  float: right;
  color: #008080;
  position: relative;
  right: -70px;
}
.alignleft a , .alignright a{
  text-decoration: none;
  color: #008080;
}
.footer {
	background-color: rgba(129,216,208 , 1);
	margin-top: 20px;
	padding-top: 10px;
	display: block;
	width: 100%;
}
.footer .alignleft a:hover , .footer .alignleft a:focus , .footer .alignright a:hover , .footer .alignright a:focus {
  color: white;
}
/* Active Page */
#active-ft {
  font-weight: bold;
  color: white;
}
/* Social Icons */
.social-icon{
  text-align: center;
  font-size: 16px;
}
#get-social{
  font-family: 'Amatic SC', cursive;
  font-size: 32px;
  font-weight: bold;
  word-spacing: 8px;
  letter-spacing: 3px;
}
.social-icon>a{
  text-decoration: none;
  color: white;
}
.fa{
	margin: 0 6px;
}
/* Translates icon up & changes color when hovered over */
.social-icon .fa{
  transition: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.social-icon .fa:hover , .social-icon .fa:focus , .social-icon .fa:active{
  /*font-size: 330%;*/
  color:#008080;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
/* End of translation */

/* Search Bar */
.input-group{
  width: 40%;
  margin: 0 auto;
  padding-bottom: 10px;
}
.input-group-btn>button {
  color: rgba(0, 128, 128, 1);
}
.input-group-btn>button:hover {
  /* Add some parameters?? */
  background-color: #008080;
  color: white;
}
.input-group input{
  color: rgba(0, 128, 128, 1);
  font-family: 'roboto', FontAwesome;
}
/* Placeholder Color */
.input-group>input::-webkit-input-placeholder {
color: rgba(0, 128, 128, 0.7) !important;
}
.input-group>input:-moz-placeholder { /* Firefox 18- */
color: rgba(0, 128, 128, 0.7) !important;  
}
.input-group>input::-moz-placeholder {  /* Firefox 19+ */
color: rgba(0, 128, 128, 0.7) !important;  
}
.input-group>input:-ms-input-placeholder {  
color: rgba(0, 128, 128, 0.7) !important;  
}
/* End of Search Bar -->

/* END OF FOOTER */

/* BACK TO TOP BUTTON */

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  border-radius: 100%; /* Creates circular button. Remove line to create square button */
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  background: rgba(0, 128, 128, 0.7) url(cd-top-arrow.svg) no-repeat center 50%;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.cd-top:hover {
  opacity: 1;
  background: rgba(0, 128, 128, 0.7) url(cd-top-arrow-b.png) no-repeat center 50%;
}

@-webkit-keyframes cd-top {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes cd-top {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes cd-top-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes cd-top-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.cd-top:hover, .cd-top:focus, .cd-top:active {
  -webkit-animation-name: cd-top-float, cd-top;
  animation-name: cd-top-float, cd-top;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}
/* END OF BACK TO TOP BUTTON */

/* Media Rules for mobile optimisation */

@media only screen and (min-width: 1200px) {

  .container {
    width: 75%;
    margin-left: 15%;
  }

}

@media only screen and (max-width: 1200px) {

  .container {
    width: 75%;
    margin-left: 15%;
  }

}

@media only screen and (max-width: 1076px) {

  .block {
    height: 160px;
  }

}

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}

@media only screen and (max-width: 990px) {
  .block {
    height: 190px;
  }

}

@media only screen and (max-width: 980px) {
  .block {
    height: 150px;
  }

}


@media only screen and (max-width: 930px) {
  .abt-img {
    width: 20%;
    display: inline-block;
  }

  .block {
    height: 120px;
  }
}

@media only screen and (max-width: 900px) {

  .block {
    height: 100px;
    margin-top: 3%;
  }

}

@media only screen and (max-width: 750px) {

  #blog-content .row {
    margin-left: 10%;
    margin-right: 10%;
  }

  .container {
    width: 85%;
    margin-left: 12%;
    margin-right: 5%;
  }

}

@media only screen and (max-width: 650px) {
  .abt-img {
    padding: 0px; 
  }
  .abt-img img{
    margin-left: 20%;
    margin-right: 20%;
  }
  .news{
    display: none;
  }
  .container {
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    
  }
}

@media only screen and (max-width: 430px) {
  .block {
    height: 80px;
  }

  p {
    font-size: 16px;
  }

  .intro-explan span {
    font-size: 20px;
  }

  .container {
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    
  }
  
}
